.breadcrumb {
    margin-bottom: -15px;
    margin-top: -50px;   
}
.nav {
    margin-top: -10px; 
}
.btn-delete {
    content:url("../images/delete.png");
    cursor: pointer;
    width: 25px;
    height: 25px;   
}