/*Navigater*/
.breadcrumb {
    margin-bottom: -15px;
    margin-top: -50px;   
}
.nav {
    margin-top: -10px; 
}
/*Logo Tap*/
.logo-bn-in {
    content:url("../images/ph_inside.png");
    width: 25px;
    height: 25px;   
}
.logo-bn-out {
    content:url("../images/ph_outside.png");
    width: 25px;
    height: 25px;   
}
.logo-position {
    content:url("../images/ph_position.png");
    width: 25px;
    height: 25px;   
}
/*Button Management*/
.btn-delete {
    content:url("../images/delete.png");
    cursor: pointer;
    width: 25px;
    height: 25px;   
}
/* Logo Menu Main Personnal */
.logo-head-person {
    content:url("../images/personnal.png");
    width: 40px;
    height: 40px;   
}
.logo-data-basic {
    content:url("../images/hierarchy.png");
    width: 30px;
    height: 30px;   
}
.logo-add-person {
    content:url("../images/add_personnal.png");
    width: 30px;
    height: 30px;   
}
.logo-promotion {
    content:url("../images/promotion.png");
    width: 30px;
    height: 30px;   
}
.logo-salary {
    content:url("../images/salary.png");
    width: 30px;
    height: 30px;   
}
.logo-setting-person {
    content:url("../images/setting_personnal.png");
    width: 30px;
    height: 30px;   
}